# Dépendances et constructions
node_modules
dist
dist-ssr
.vite-react-ssg-temp
*.local

# Journaux
*.log
npm-debug.log*

# Éditeurs et système
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
